<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Blog :: Login</title>
</head>
<body>
<div class="container">
  <h1>Spring Boot Blog Application</h1>
  <hr/>
  <!--Using the /login to request into the model-->
  <form action="#"
        th:action="@{/login}"
        method="POST">


    <div >
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="email" required>

    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="text" name="password" placeholder="pass" required>

    </div>
    <button type="submit">Login!</button>
  </form>

</div>
</body>
</html>